@import "tailwindcss";

/* Define custom screen sizes as CSS variables */
@layer base {
  :root {
    /* Screen sizes */
    --screen-sm: 375px;
    --screen-md: 768px;
    --screen-lg: 1200px;

    /* Define red-orange-500 using color-mix */
    --gray-green-500: color-mix(in srgb, #474747 50%, #7C8652 50%);
    --gray-green-900: color-mix(in srgb, #0d0d0d 90%, #7C8652 10%);




    /* Define light color for border */
    --border-light: #e5e7eb; /* Soft gray for light border */

    /* Font family */
    --font-archivo: "Archivo", sans-serif;
  }
}

/* Extend container styles */
@layer utilities {
  .bg-red-orange-500 {
    background-color: var(--gray-green-500);
  }

  .bg-gray-green-900{
    background-color:  var(--gray-green-900);
  }

  .border-red-orange-500 {
    border-color: var(--gray-green-500);
  }

  .text-red-orange-500 {
    color: var(--gray-green-500);
  }

  .border-light {
    border-color: var(--border-light);
  }

  .font-sans {
    font-family: var(--font-archivo), sans-serif;
  }

  .container {
    @apply mx-auto;
    max-width: 100%;
  }

  .section{
    @apply py-24 md:py-32 lg:py-40;
  }

  /* Padding based on screen sizes */
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (min-width: var(--screen-md)) {
    .container {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  @media (min-width: var(--screen-lg)) {
    .container {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
}

/* Ensure font family is applied globally */
@layer base {
  html {
    font-family: var(--font-archivo), sans-serif;
  }
}

body {
  font-family: var(--font-archivo), sans-serif; /* Apply the font globally to the body */
}

button {
  border: 2px solid var(--gray-green-500);
  padding: 0.5rem 1rem;
}